*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.arvore{
  position: absolute;
  width: 250px;
  bottom: 0;
  animation: arvore-animation 2.5s linear infinite;
}
.game-board { 
  width: 100%;
  height: 500px;
  margin:0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}
.verde {
  width: 100%;
  height: 295px;
  background:linear-gradient( rgb(34, 177, 41), rgb(41, 90, 41));
}
.clouds {
  top: 0px;
  position: absolute;
  width: 450px;
  animation: clouds-animate 20s linear infinite;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s linear infinite;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes arvore-animation {
  from {
    right: -250px;
  }
  to{
    right: 100%;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right:100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40%{
    bottom: 180px;
  }
  50%{
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes clouds-animate {
  from {
    right: -450px;
  }
  to {
    right:100%;
  }
}

@media screen and (max-width: 600px) {
  .pipe {
    animation: pipe-animation 1s linear infinite;
  }
}
